<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
		<link rel="stylesheet" href="/pickflo/css/fragments.css">
		<link rel="stylesheet" href="/pickflo/css/movie-picker.css">
	</head>
	<body>
		<main>
			<div id="intro">
				<p class="intro-title">어떤 영화를 좋아하세요?</p>
			<p class="intro-text">
				<span> <strong>3개 이상</strong> 취향을 선택하고</span> 
				<span> 나에게 맞는 홈을 받아보세요 </span>
			</p>
			<div id="home" class="d-none">
					<a href="/pickflo/home">홈으로 가기</a>
				</div>
			</div>
			<div id="layout"></div>
		</main>
		
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
		
	
		<script src="/pickflo/js/movie-picker.js"></script>
		
	</body>
</html>