<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PickFlo</title>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="/pickflo/css/search.css" rel="stylesheet" />
<link href="/pickflo/css/list.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
	<div class="container">
		<a href="/pickflo/home" class="close-btn">
		<button class="close-btn col-12">
			<i class="material-icons">close</i>
		</button>
		</a>
		<form method="get" th:action="@{/movie/search}">
		<div class="row justify-content-center">
			<div class="keyword-search col-10 col-md-8">
				<div class="input-group">
					<div class="input-group-prepend">
		                <button id="search-button" class="btn" type="submit">
		                		<i class="bi bi-search"></i>
		                	</button>                	
		                
					</div>
					<input type="text" id="search-input" name="keywords"
						class="form-control" placeholder="제목, 감독 또는 배우로 검색하세요" autocomplete="off" />
					<button id="clear-input" class="clear-input" type="button">
						<i class="material-icons">close</i>
					</button>
				    
				</div>
			</div>
		</div>
		</form>

		<div class="searching-category" data-type="genre">
			<button class="btn" data-value="28">액션</button>
			<button class="btn" data-value="12">모험</button>
			<button class="btn" data-value="16">애니메이션</button>
			<button class="btn" data-value="35">코미디</button>
			<button class="btn" data-value="80">범죄</button>
			<button class="btn" data-value="99">다큐멘터리</button> 
			<button class="btn" data-value="18">드라마</button>
			<button class="btn" data-value="10751">가족</button>
			<button class="btn" data-value="14">판타지</button>
			<button class="btn" data-value="36">역사</button>
			<button class="btn" data-value="27">공포</button>
			<button class="btn" data-value="10402">음악</button>
			<button class="btn" data-value="9648">미스터리</button>
			<button class="btn" data-value="10749">로맨스</button>
			<button class="btn" data-value="878">SF</button>
			<button class="btn" data-value="53">스릴러</button>
			<button class="btn" data-value="10752">전쟁</button>
		</div>

		<div class="searching-category" data-type="country">
			<button class="btn" data-value="KR">한국 영화</button> <!-- KR, 대한민국 -->
			<button class="btn" data-value="US">미국 영화</button> <!-- US, 미국 -->
			<button class="btn" data-value="TW">대만 영화</button> <!-- TW, 대만 -->
			<button class="btn" data-value="JP">일본 영화</button> <!-- JP, 일본 -->
			<button class="btn" data-value="CN">중국 영화</button> <!-- CN, 중국 -->
		</div>
		</div>
		<div class="list-wrap">
			<div class="movie-list">
				<div class="movie-card" th:each="movie : ${searchMovies}">
				  <img class="poster-image" th:src="@{${movie.movieImg}}">
				</div> 
			</div> 
		</div>
		
		<script th:src="@{/js/search.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
                crossorigin="anonymous"></script>
</body>


</html>