@charset "UTF-8";  

body {
	background-color: #141414 !important;
}

.header #logo {
	font-family: 'PartialSansKR-Regular', Arial, sans-serif;
	font-size: 35px;
	font-weight: normal;
	background-color: transparent;
	color: #E50913;
}

.header {
	margin-top: 30px;
	justify-content: center;
	padding: 30px;
}

.header-logo {
	display: flex;
	justify-content: start;
}

.header-user {
	display: flex;
	justify-content: end;
}

.nickname {
	margin-top: 7px;
	margin-left: 20px;
	font-size: 20px;
}

a {
	text-decoration: none;
}

.date-selection {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.dashboard-title {
    font-weight: bold; 
    font-size: 30px;
    text-align: center;
}

.data {
	margin-left: 300px;
}

.table {
	margin-top: 30px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table th {
    background-color: rgba(255, 255, 255, 0.7);

}

.table-bordered th,
.table-bordered td {
    border: 1px solid #888888;
}

#conversionRateA, #conversionRateB  {
    background-color: rgba(255, 182, 193);
}

.return-rate-table {
    width: 50%;
    margin: 60px 30px 0 50px;
    
}

.return-rate-table th, .return-rate-table td {
    width: 50%; 
    text-align: center;
}

.table-caption {
    font-size: 21px;
    color: white; 
    font-weight: bold; 
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 10px; 
    caption-side: top; 
}

.chart-container {
	position: relative;
	width: 100%;  
    height: 500px; 
    max-width: 1000px; 
    margin: 70px auto;
}
    


@media ( max-width : 768px) {
	.header { 
		margin-top: 10px; 
	}
	
	.header #logo {
		margin-top: 10px;
		font-size: 25px;
	} 	
	
	.header-logo {
		margin-left: 0px;
	}
	
	.dashboard-title {
		font-size: 25px;
	}
	
	.data {
		margin-left: 0px;
	}
	
	.date-selection {
        margin-top: 50px;
    }
	
	label, input, #resultButton {
        font-size: 14px !important;
    }
	
	tr, td {
		font-size: 12px;
	}
	
	.table-caption {
		font-size: 18px;
		margin-top: 20px;
	}
	
	.return-rate-table {
	    width: 50%;
	    margin: 0px 0px 0 80px;
	    
	}
	
	.chart-container {
        position: relative;
        width: 100%;  
        height: 300px; 
        max-width: 400px; 
        margin: 50px auto;
    }
    
}

@media only screen and (min-width: 768px) and (max-width : 1024px) {
	
	
}


@media only screen and (min-width: 1024px) and (max-width : 1366px) {

	
}