@charset "UTF-8";

body {
	background-color: #141414;
	color: #ffffff;
	margin: 0;
}

.keyword-search {
	margin-top: 100px;
}

.input-group {
	border: none; 
	margin-bottom: 10px;
}

.input-group-prepend .input-group-text {
	background-color: #343a40;
	border: none; 
	border-radius: 0.25rem 0 0 0.25rem;
}

#search-input, #search-button {
	border: none; 
	border-radius: 0 0.25rem 0.25rem 0;
	color: #ffffff;
	background-color: #343a40;
}

#search-button {
	border: none; 
	border-radius: 0.25rem 0 0 0.25rem;
	color: #ffffff;
	background-color: #343a40;
}

#search-input::placeholder {
    color: #bbbbbb; 
}

#search-input:focus {
	box-shadow: none; 
	outline: none; 
}

.input-group-prepend .input-group-text i {
	font-size: 20px;
	color: #ffff;
}

.input-group {
    position: relative;
}

#clear-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: none; /* 기본적으로 숨기기 */
}

#clear-input {
    background: transparent;
    border: none;
}

#clear-input i {
    color: #aaa;
}

#clear-input:hover i {
    color: #aaa;
 	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.searching-category {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}

.searching-category .btn {
	background-color: #6c757d; 
	color: #fff; 
	border-radius: 5px;
	padding: 10px 20px;
	margin: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;

}

.searching-category button:hover {
	background-color: #343a40;
	color: white;
}

.searching-category .btn.selected {
	background-color: #343a40;
    color: white;
}

.searching-category .btn:focus {
	border: none;
	outline: none;
}

@media ( max-width : 768px) {
	.searching-category {
		display: flex;
		flex-wrap: nowrap !important;
		overflow-x: auto;
		white-space: nowrap;
		margin-top: 10px;
		padding: 0px 10px;
		/* 스크롤바 숨기기 */
		scrollbar-width: none;
		-ms-overflow-style: none;
		justify-content: start;
	}
		
	.searching-category .btn {
		background-color: #6c757d;
	}
	
	#search-input {
		font-size: 14px;
	}
	.input-group {
		font-size: 14px;
	}
	
	
	
}




